<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiahan.security.finish.mapper.AclRolePermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xiahan.security.finish.entity.AclRolePermission">
        <id column="role_permission_id" property="rolePermissionId" />
        <result column="role_id" property="roleId" />
        <result column="permission_id" property="permissionId" />
        <result column="is_deleted" property="isDeleted" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        role_permission_id, role_id, permission_id, is_deleted, gmt_create, gmt_modified
    </sql>

</mapper>
